@using CandleShop.Models;

@model HomeModel;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Link{
    <link rel="stylesheet" href="./Styles/Home.css">
}

<script src="Script/Home.js"></script>

<div class="content_head">
    <div class="candle_object">
        <canvas class="candle_fire candle_fire_1"></canvas>
        <img class="candle_body candle_body_1" src="Img/Candle1.png">
    </div>
    <div class="candle_object">
        <canvas class="candle_fire candle_fire_2"></canvas>
        <img class="candle_body candle_body_2" src="Img/Candle2.png">
    </div>
</div>

<div class="content">
    <div class="new">
        <div class="title_container">
            <div class="title">
                Новинки
            </div>
            <div class="description">

            </div>
        </div>
        <div class="data">
            <div class="ViewPanel">
                <div class="item">item here</div>
            </div>
            <div class="ViewPanel">
                <div class="item">item here</div>
            </div>
            <div class="ViewPanel">
                <div class="item">item here</div>
            </div>
        </div>
    </div>
</div>


