@using CandleShop.Models;

@model HomeModel;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="text-center">
        <h1 class="display-4"></h1>
    </div>
</body>

