@using CandleShop.Models;

@model AboutModel;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Link{
    <!--
        <link rel="stylesheet" href="./Styles/Home.css">
    -->
}

<div>home</div>


