*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    color: wheat;
}

html{
    background-color: #050000;
}


header.header{
    padding: 2%;
}

.main_logo, 
.header_logo{
    height: 80px;
}

.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100%;
    width: 100%;
    height: 80px;
}

.header_categories{
    display: flex;
    justify-content: left;
}

.header_category{
    color: gold;
    margin: 0px 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'IBM Plex Mono', monospace;
}


#footer{
    text-align: center;
    width: 100%;
}

.absolute_bottom{
    position: absolute;
    bottom: 0px;
}