*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-size: 24px;
    color: wheat;
    text-decoration: none;
}

html{
    background-color: #050000;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #050000;
}

::-webkit-scrollbar-thumb {
    background: #794210;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff7a00;
}


header.header{
    padding: 2%;
}

.main_logo, 
.header_logo{
    height: 80px;
}

.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100%;
    width: 100%;
    height: 80px;
}

.header_categories{
    display: flex;
    justify-content: left;
}

.header_category{
    color: #ff7a00;
    margin: 0px 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
}


.ViewPanel{
    background: #050000cc;
    box-shadow: 0px 0px 8px 8px #050000cc;
}


#footer{
    text-align: center;
    width: 100%;
}

.absolute_bottom{
    position: absolute;
    bottom: 0px;
}
